.Login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 40px;
    width: clamp(300px, 100%, 500px);
    margin: 0 auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 5px 10px #cccc;
}